*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;

    
}
main #Signup{
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    margin-inline: auto;
    height: 100vh;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.15);
    width: 80%
    
    
}
.image-container {
    width: 50%;
}
.line {
    width: 40px;
    height: 4px;
    background-color: green;
    margin-bottom: 10px;
    margin-inline: auto;
}
.image-container img{
    width: 100%;
}
.text-container {
    background-color: white;
    text-align: center;
    width: 50%;
}
p {
    margin: 20px 0;   
}
input {
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
button {
    background-color: green;
    width: 50%;
    height: 30px;
    border: none;
    color:white;
    margin-bottom: 15px;
    margin-top: 15px;
}
hr {
    margin-top: 25px;
    margin-bottom: 25px;
    color: rgb(85, 76, 76);
    width: 80%;
    margin-inline: auto;
}
    span {
        color: green;
    }
    
    

